<div class="screen">
<div class="container" class="p-5">
    <div class="row">

        <div class="col-9">
          <h1><p class="text-warning">Dilip Kumar</p></h1>
        </div>
        <div class="col">
            <button mat-button color="primary">
                home
            </button>
        </div>

        <div class="col">
            <button mat-button color="primary">
                About
            </button>
        </div>

        <div class="col">
            <button mat-button color="primary">
                contact
            </button>
        </div>

    </div>
</div>
</div>