<p>
    <mat-toolbar color="primary" class="footer">
        <h3 class="font">Thanks for visiting the website greetings, Dilip kumar</h3>
        <span class="example-spacer"></span>
        <a href="https://github.com/Code-berserks">
            <button mat-icon-button>
                <img class="icon" src={{imagePathGithub}} alt="">
            </button>
        </a>

        <a href="https://www.linkedin.com/in/dilip-kumar-h-9a493a170">
        <button mat-icon-button>
            <mat-icon>
                <img src={{imagePathLinkedIn}} alt="">
            </mat-icon>
        </button>
    </a>
        <button mat-icon-button>
            <mat-icon>
                <img src={{imagePathTwitter}} alt="">
            </mat-icon>
        </button>
    </mat-toolbar>
</p>