<p>
    <mat-toolbar color="primary" class="footer">
        <span>Thanks for visiting</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>
                <img src={{imagePathFaceBook}} alt="">
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>
                <img src={{imagePathTwitter}} alt="">
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>
                <img src={{imagePathLinkedIn}} alt="">
            </mat-icon>
        </button>
    </mat-toolbar>
</p>