.example-spacer {
    flex: 1 1 auto;
    bottom: 0;
    right: 0;
  }

  .font{
    font-family: cursive;
}

img, svg {
  vertical-align: baseline;
  width: 24px;
}

.container{
  color: white;
  background-color: #3f51b5;
  max-width: inherit;
}