<div class="container">
    <div class="row">
        <div class="col-9">
            Thanks for visiting the website.
        </div>
        <div class="col-3">
            <a href="https://github.com/Code-berserks">
                <button mat-icon-button>
                    <img class="icon" src={{imagePathGithub}} alt="">
                </button>
            </a>
            <a href="https://www.linkedin.com/in/dilip-kumar-h-9a493a170">
                <button mat-icon-button>
                    <mat-icon>
                        <img src={{imagePathLinkedIn}} alt="">
                    </mat-icon>
                </button>
            </a>
        </div>
        <div class="col-9">
            <p>Get in touch</p>
        </div>
        <div class="col-9">
             <mat-icon>
                <img src={{imagePathPhone}} alt="">
            </mat-icon> 9080154143
        </div>
        <div class="col-9">
            <p>            <p> <mat-icon>
                <img src={{imagePathMail}} alt="">
            </mat-icon> dilipkumar25199725@gmail.com</p>
        </div>
        <div class="col-9">
            <p><mat-icon>
                <img  src={{imagePathLocation}} alt="">
            </mat-icon> No.4, sargunam street, kamaraj nagar,avadi Chennai 600071</p>
        </div>
    </div>
</div>