
  .sidenav {
    max-width: 300px;
    max-height: 500px;
    border-left: 0;
  }

  .container{
    border-left: 0; 
  }

  .col-3{
    padding-left: calc(var(--bs-gutter-x) * 1.5px);
  }

  .col-9{
    padding-right: 0px;
  }

  .row{
    margin-left: calc(0 * var(--bs-gutter-x));
    margin-right: calc(-3*var(--bs-gutter-x));
    word-wrap: break-word;
  }

  .mat-mdc-card {
    background-color: antiquewhite;
  }

  .mat-mdc-card-subtitle {
    color: black;
  }