

      <mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>PROFILE</mat-card-title>
          </mat-card-header>
          <mat-card-content>To secure a challenging position where I can effectively contribute my skills. In addition,
            the scope for personal growth in terms of acquiring new skills and handling challenging
            tasks are also very critical in my choice of a career.
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card>
          <mat-card-header>
            <mat-card-title>CONTACT</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p  class="margin" [(ngModel)]="mobileNo"> Contact No : {{data.mobileNumber}}
              
                <button mat-button class="icon" [cdkCopyToClipboard]="mobileNo">
                <img class="icon" src={{imagePathCopy}} alt="">
                </button>
              
              
            </p>
            <p class="margin" [(ngModel)]="email">  Email : {{data.mailId}}
              
              <button mat-button class="icon" [cdkCopyToClipboard]="email">
                <img class="icon" src={{imagePathCopy}} alt="">
              </button>
           
            </p>
            <p>Address : {{data.Address}}</p>
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="main">
          <mat-card-header>
            <mat-card-title>SKILLS</mat-card-title>
          </mat-card-header>
          <mat-card-content *ngFor="let skill of data.Skills">
            <p>{{skill}}</p>
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="main">
          <mat-card-header>
            <mat-card-title>EDUCATION</mat-card-title>
          </mat-card-header>
          <div *ngFor="let Education of data.Education">
            <mat-card-header>
              <mat-card-subtitle>{{Education.Study}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{Education.Institute}}</p>
              <p>{{Education.passedOut}}</p>
            </mat-card-content>
          </div>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="main">
          <mat-card-header>
            <mat-card-title>LANGUAGE</mat-card-title>
          </mat-card-header>
          <mat-card-content *ngFor="let language of data.Language">
            <p>{{language}}</p>
          </mat-card-content>
        </mat-card>

      </mat-card>
<mat-divider></mat-divider>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>WORK EXPERIANCE</mat-card-title>
        </mat-card-header>
        <div *ngFor="let company of data.workExperiance">
          <mat-card-header>
            <mat-card-subtitle>{{company.role}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-header>
            <div class="col-8">
              <h3>{{company.companyName}}</h3>
            </div>
            <div class="col-4">
              <p>{{company.period}}</p>
            </div>
          </mat-card-header>
          <mat-card-content *ngFor="let item of company.roleDescription">
            <ul>
              <li>{{item}}</li>
            </ul>
          </mat-card-content>
        </div>
      </mat-card>