
  .sidenav {
    max-width: 300px;
    max-height: 500px;
    border-left: 0;
  }

  .container{
    border-left: 0; 
  }

  .row{
    margin-left: calc(-1*var(--bs-gutter-x));
    margin-right: calc(-3*var(--bs-gutter-x));
  }

  .mat-mdc-card {
    background-color: antiquewhite;
  }

  .mat-mdc-card-subtitle {
    color: black;
  }